button {
    margin: 10px;
    color:blue; 
    margin-bottom: 10px;
}

.img-thumbnail :first-child{
    float: left;
    margin-bottom: 25px;
    max-width: 300px;
    height: auto;
}

.jumbotron {
    padding: 10px;
    margin-top: 10px;
    background-image: url("../images/sugarloaf-1216613_1280.jpg");

}

